---
layout: work
title:  Building Intercom
tags: ['illustration', 'brand', 'type', 'web development']
year:   "2017"
client:	Intercom
image: .webm
theme: black
summary: >-
  Every fall Intercom hosts an event all about how Intercom is made. With their engineering and product teams being entirely based out of Dublin, this event has become a great recruiting opportunity. The theme was taking risks, so the event landing page, printed materials, ads and speaker slide templates needed to keep with the spirit of risk taking.
contributions:
  - illustration
  - brand
  - type
  - web development
collaborators:
  - name: Me, Kyle
    role: Senior Brand Designer
header:
  variant: image
  class: text-white
  media_asset: thumbnail-transparent.gif
  media_class: mx-auto w-2/3 md:w-64 mb-5
---
{% include work-header.html %}
<!--squiggly rule -->
{% include hr-squiggle.html top='black' bottom='purple' %}

<section class="z-10 bg-purple">
  <div class="container py-10 md:py-16 lg:py-24 xl:py-32 mx-auto">
    <div class="caption uppercase tracking-wider text-center mb-5">
        Designing for Engineers
    </div>
    <div class="subhead text-center mb-16 lg:w-2/3 lg:mx-auto">
        A lot of my early explorations of the event branding were directly tied to programming or overly-reliant on geek nostalgia. The nerdy engineer is a tired cliché at this point and it’s a challenge to convince a smart audience that your efforts to target them are backed with sincere intentions.
    </div>
    <div class="max-w-full w-full md:w-2/3 mx-auto mb-5 md:mb-10">
      <img class="rounded-lg border-2 border-black" src="{{ '/images/' | relative_url }}squiggles/process-draft-4.png" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/strategy.png">
    </div>
    <div class="body text-center md:w-1/2 lg:w-1/3 mx-auto mb-5 md:mb-16">
      Some of the concepts I wrestled with in the brief, which asked that the event feel "unappoligetically nerdy", as written about on the <a href="https://www.intercom.com/blog/behind-design-work-building-intercom/">Intercom Blog</a>.
    </div>
    <div class="md:flex items-center">
      <div class="md:w-1/2 lg:w-2/3 mb-5 md:mb-16">
        <img class="rounded-lg max-w-full" src="{{ '/images/' | relative_url }}squiggles/bts-video-2-tiny.jpg" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/frank-draw.gif" />
      </div>
      <div class="body block text-left md:w-1/2 md:pl-10 lg:w-1/3">
        <p>Through a stroke of remembering someone else's genius, I remembered the Hershey Fonts.</p>
        <p>I first heard about the Hershey fonts at TypeCon 2016 in Seattle in <a href="https://vimeo.com/178015110">this talk</a> given by Frank Griesshammer. A.V. Hershey was a theoretical physicist who programmed instructions that plotted vectors into the shape of letters to use in his publication and computational work in the late 1960s. Hershey was a rare, prolific pioneer. His inspiring work as a creative coder and early digital type designer is a sure example of taking meaningful risks.</p>
      </div>
    </div>
    <div class="md:flex md:justify-between items-center mb-5 md:mb-16">
      <div class="mb-5 md:w-1/3 md:mb-0 md:mr-8">
          <img class="w-64 mx-auto lg:w-full" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/hershey-font-1.png">
      </div>
      <div class="mb-5 md:w-1/3 md:mb-0 md:mx-4 body text-center">
          There was one problem with using the Hershey fonts: they didn't exist. There were a few working .SVG files lying around the internet, but nothing close to what I needed for iterating on layouts, serving dynamic text on the landing page, and producing the printed and digital assets.
      </div>
      <div class="mb-5 md:w-1/3 md:mb-0 md:ml-8">
          <img class="w-64 mx-auto lg:w-full" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/hershey-font-2.png">
      </div>
    </div>
    <div class="md:flex items-center">
      <div class="body block text-left md:w-1/2 md:pr-10 lg:w-1/3">
        <p>With the help of Glyphs, I was able to convert those junky svgs into modern OTFs. Glyphs can take one master set of font outlines and offset the path on export to produce several different "weights" to easily get the style dialed in.</p>
      </div>
      <div class="md:w-1/2 lg:w-2/3 mb-5 md:mb-16">
        <img class="rounded-lg max-w-full mb-5" src="{{ '/images/' | relative_url }}squiggles/bts-video-2-tiny.jpg" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/hershey-fonts.png" />
      </div>
    </div>
  </div>
</section>
  <!--squiggly rule -->
{% include hr-squiggle.html top='purple' bottom='white' spacing='tight' %}

  <section class="bg-white">
    <div class="container py-10 md:py-16 lg:py-24 xl:py-32 mx-auto">
      <div class="flex flex-wrap items-center justify-center items-top">
        <div class="w-full text-center md:text-left md:w-6/12 xl:w-5/12 subhead mb-5 md:mb-10 md:pr-10">
          <p class="uppercase caption mb-5">The rest of the stuff</p>
          <p>With the type styles locked, it became easier to iterate and flow some of those 1960s computer vector ideas into colors, patterns, icons, and animations.</p>
        </div>
        <video class="w-full rounded-lg md:w-5/12 xl:w-5/12 mb-5 md:mb-10" autoplay muted playsinline loop>
          <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/ads.mp4" type="video/mp4">
          <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/ads.webm" type="video/webm">
        </video>
      </div>
      <div class="body text-center md:w-1/2 lg:w-1/3 mx-auto mb-5 md:mb-10">
        Hershey's family of fonts did the heavy lifting and felt cohesive right out of the box.
      </div>
      <div class="flex flex-wrap justify-center" >
        <img class="w-full md:w-5/12 rounded-lg md:mr-10 self-center mb-5 md:mb-10" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/1710_BuildingIntercom_PosterA3_explore.png">
        <img class="w-full md:w-5/12 rounded-lg md:ml-10 self-center mb-5 md:mb-10" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/1710_BuildingIntercom_PosterA3_dribbble.png">
      </div>
      <div class="body text-center md:w-1/2 lg:w-1/3 mx-auto mb-5 md:mb-10">
        <p>Still, striking the right tone took some time. "It's a balance", moans every creative director.</p>
      </div>
      <video class="w-full rounded-lg mb-5 md:mb-10" autoplay muted playsinline loop>
        <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/take-risks.mp4" type="video/mp4">
        <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/take-risks.webm" type="video/webm">
      </video>
      <div class="body text-center md:w-1/2 lg:w-1/3 mx-auto mb-5 md:mb-10">
        <p>The vector style lent itself very kindly to vector minded <a href="http://paperjs.org/">paper.js</a>—which powered the experience and animations on the interaction heavy landing page.</p>
      </div>
      <video class="w-full rounded-lg mb-5 md:mb-10" autoplay muted playsinline loop>
        <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/featuring.mp4" type="video/mp4">
        <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/featuring.webm" type="video/webm">
      </video>
      <div class="flex flex-wrap justify-between" >
        <video class="w-full md:w-8/12 xl:9/12 rounded-lg md:mr-10 self-center mb-5 md:mb-10" autoplay muted playsinline loop>
          <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/site-CTA.mp4" type="video/mp4">
          <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/site-CTA.webm" type="video/webm">
        </video>
        <div class="w-full md:w-3/12 xl:2/12 rounded-lg self-center mb-5 md:mb-10 body">
          The site was filled with easter eggs, and used custom cursors and interactions to encourage the user to view the source, delete elements, click and drag to customize. With each passing second the site's CTA target would duplicate and ramdomly position the clone over the content, eventually overwhelming the entire site until you signed up.
        </div>
      </div>
      <div class="subhead text-center mb:5 md:mb-16 lg:w-2/3 lg:mx-auto">
        The technical feel came together with a set of icons built based on the curves and shapes within the Hershey fonts.
      </div>
      <div class="glow block md:w-1/2 lg:w-1/3 mx-auto mb-5 md:mb-16">
        <img class="max-w-full rounded-lg border-2 border-black mb-5" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/icons.png">
      </div>
      <a href="https://buildingintercom.com/" class="block text-center link-out image mb-10">
          <div class="bg-black">
            <svg class="inline-block" width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M2.57136 6H6.4285V4.0714C6.4285 3.00628 5.56505 2.14283 4.49993 2.14283C3.43481 2.14283 2.57136 3.00628 2.57136 4.0714V6ZM1.28564 6C0.575596 6.00004 0 6.57566 0 7.28571V11.7143C0 12.4244 0.575634 13 1.28571 13H7.71429C8.42437 13 9 12.4244 9 11.7143V7.28571C9 6.57563 8.42437 6 7.71429 6H7.71422V4.0714C7.71422 2.2962 6.27513 0.857117 4.49993 0.857117C2.72473 0.857117 1.28564 2.2962 1.28564 4.0714V6Z" fill="white"/>
            </svg>
            <div class="inline-block caption text-white leading-none py-3">https://buildingintercom.com/</div>
          </div>
          <video class="inline-block w-full" autoplay muted playsinline loop>
            <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/hero.mp4" type="video/mp4">
            <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/hero.webm" type="video/webm">
          </video>
        </a>

   </div><!--container-->
 </section>
 <!--squiggly rule -->
  {% include hr-squiggle.html top='white' bottom='pink' spacing='tight' %}
 <section class="bg-pink">
   <div class="container py-10 md:py-16 lg:py-24 xl:py-32 mx-auto">
     <div class="caption uppercase text-center mb-5">
       The event
     </div>
     <div class="subhead text-center mb-16 mx-auto md:w-2/3">All the work creating an event brand paid off as I watched the speakers and vendors who created the decks and on stage animations bring the event to life.</div>
     <div class="flex flex-wrap justify-center mb-5 md:mb-16">
       <div class="max-w-full w-full md:w-2/3 self-center mb-5 md:mb-10 md:mx-5">
         <img class="rounded-lg border-2 border-black" src="{{ '/images/' | relative_url }}squiggles/process-draft-4.png" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/event-03.jpg">
       </div>
       <img class="max-w-full w-full mx-auto md:w-5/12 self-center rounded-lg border-2 border-black mb-5 md:mb-10 md:mx-5" src="{{ '/images/' | relative_url }}squiggles/process-draft--tiny3." alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/event-02.jpg">
       <img class="max-w-full w-full mx-auto md:w-5/12 self-center rounded-lg border-2 border-black mb-5 md:mb-10 md:mx-5" src="{{ '/images/' | relative_url }}squiggles/process-draft--tiny2." alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/event-04.jpg">
       <img class="max-w-full w-full mx-auto md:w-5/12 self-center rounded-lg border-2 border-black mb-5 md:mb-10 md:mx-5" src="{{ '/images/' | relative_url }}squiggles/process-draft--tiny2." alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/event-05.jpg">
       <img class="max-w-full w-full mx-auto md:w-5/12 self-center rounded-lg border-2 border-black mb-5 md:mb-10 md:mx-5" src="{{ '/images/' | relative_url }}squiggles/process-draft--tiny2." alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/event-07.jpg">
     </div>
   </div>
 </section>
