---
layout: work
title:  Building Intercom
tags: ['illustration', 'brand', 'type', 'web development']
year:   "2017"
client:	Intercom
image: .webm
theme: black
summary: >-
  Every fall Intercom hosts an event all about how Intercom is made. With their engineering and product teams being entirely based out of Dublin, this event has become a great recruiting opportunity. The theme was taking risks, so the event landing page, printed materials, ads and speaker slide templates needed to keep with the spirit of risk taking.
contributions:
  - illustration
  - brand
  - type
  - web development
collaborators:
  - name: Me, Kyle
    role: Senior Brand Designer
header:
  variant: image
  class: text-white
  media_asset: thumbnail-transparent.gif
  media_class: mx-auto w-2/3 md:w-64 mb-5
---
{% include work-header.html %}

<section class="bg-black px-2 py-2">
  <video class="inline-block w-full" autoplay muted playsinline loop>
    <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/hero.mp4" type="video/mp4">
    <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/hero.webm" type="video/webm">
  </video>
  <img class="max-w-full w-full mb-2" src="{{ '/images/' | relative_url }}squiggles/process-draft-4.png" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/event-03.jpg">
  <img class="max-w-full w-full mb-2" src="{{ '/images/' | relative_url }}squiggles/process-draft--tiny3." alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/event-02.jpg">
  <img class="max-w-full w-full mb-2" src="{{ '/images/' | relative_url }}squiggles/process-draft--tiny2." alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/event-04.jpg">
  <img class="max-w-full w-full mb-2" src="{{ '/images/' | relative_url }}squiggles/process-draft--tiny2." alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/event-05.jpg">
  <img class="max-w-full w-full mb-2" src="{{ '/images/' | relative_url }}squiggles/process-draft--tiny2." alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/event-07.jpg">
</section>

  <section class="bg-white">
      <a href="https://vimeo.com/178015110">
        <img class="w-full max-w-full px-2 py-2" src="{{ '/images/' | relative_url }}squiggles/bts-video-2-tiny.jpg" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/frank-draw.gif" />
      </a>
      <div class="body px-2 pb-2">
        <div class="lg:w-1/3 text-subtle">At the core of the identity lives the Hershey Fonts. A.V. Hershey, their creator, was a theoretical physicist who programmed instructions that plotted vectors into the shape of letters to use in his publication and computational work in the late 1960s.</div>
      </div>
      {% include image-caption.html 
        image="building-intercom/strategy.png" 
        title="Strategy" 
        caption="My early explorations were overly-reliant on geek nostalgia. The nerdy engineer is a tired cliché at this point and it’s a challenge to convince a smart audience that your efforts to target them are backed with sincere intentions." 
        theme="white"
      %}
      {% include image-caption.html 
        image="building-intercom/hershey-font-1.png" 
        title="Typography" 
        caption="The Hershey fonts were a godsend. They were effortlessly nerdy. So I bundled together some .SVG files lying around the internet, and created a set of workable typefaces." 
        theme="white"
      %}
    <img class="w-full max-w-full" src="{{ '/images/' | relative_url }}squiggles/bts-video-2-tiny.jpg" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/hershey-fonts.png" />
  </section>
  <section class="bg-purple">
      {% include image-caption.html 
        video="building-intercom/ads" 
        title="Building on Typography" 
        caption="The Hershey fonts did all the heavy lifting. The 1960s computer vector ideas built into the type informed the colors, patterns, icons, and animations." 
        theme="purple"
      %}
      <div class="flex flex-wrap justify-center px-2 py-2 ">
        <img class="w-full md:w-1/2 self-center" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/1710_BuildingIntercom_PosterA3_explore.png">
        <img class="w-full md:w-1/2 self-center" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/1710_BuildingIntercom_PosterA3_dribbble.png">
      </div>
      <video class="w-full mb-2 px-2" autoplay muted playsinline loop>
        <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/take-risks.mp4" type="video/mp4">
        <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/take-risks.webm" type="video/webm">
      </video>
      <video class="w-full mb-2 px-2" autoplay muted playsinline loop>
        <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/featuring.mp4" type="video/mp4">
        <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/featuring.webm" type="video/webm">
      </video>
      {% include image-caption.html 
        video="building-intercom/site-CTA" 
        title="Call to Action...s" 
        caption="Easter eggs, custom cursors and interactions antagonized the user to view the source, delete elements, click and drag to customize. The CTA cloned itself at a random position until it overwhelmed the entire site." 
        theme="purple"
      %}
      {% include image-caption.html 
        image="building-intercom/icons.png" 
        title="Icons" 
        caption="The kit was rounded out with a set of icons to match the vector style of the Hershey fonts." 
        theme="purple"
      %}
 </section>
