---
layout: work
title:  Making Good
tags: ['illustration', 'brand', 'type']
year:   "2018"
client:	Cosmic
image: .png
summary: >-
  After a successful pilot, BYUtv bought one season of Making Good. Cosmic Pictures came to me for a brand that could flex across the 12 episodes they would edit and deliver over the next year.
contributions:
  - illustration
  - brand
  - type
collaborators:
  - name: Me, Kyle
    role: Brand Designer
  - name: Jack Mergist
    role: Showrunner
    url: https://www.linkedin.com/in/jack-mergist-9bba1a1a/
  - name: Jeff Wiggins
    role: Production Designer
header:
  variant: image
  class: text-white
---

{% include work-header.html theme="mint" %}

<section class="z-10 bg-black"><!--overview-->
  <div class="container py-10">
    <img src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/hero.png">
    <img src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/screens.png">
    <div class="flex flex-wrap max-w-full">
      <img class="w-full md:self-center md:w-7/12" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/title-1.png">
      <div class="flex w-full md:no-flex md:flex-wrap md:self-center md:w-5/12" >
        <img class="w-1/2 md:w-full self-center"src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/title-3.png">
        <img class="w-1/2 md:w-full self-center"src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/title-2.png">
      </div>
    </div>
    <div class="flex justify-between">
      <img class="w-1/2 self-center" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/credits.png">
      <img class="w-1/2 self-center" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/thumbnail.png">
    </div>
     <div class="flex flex-wrap justify-center mb-16">
       <div class="max-w-full w-2/3 md:w-4/12 self-center mb-10 md:mx-5">
         <img class="rounded-lg border-2 border-black" src="{{ '/images/' | relative_url }}squiggles/process-draft-4.png" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/inhouse-1.jpg">
         <div class="body text-center mt-5 mb-5">
         </div>
       </div>
       <img class="max-w-full w-5/12 md:w-5/12 self-center rounded-lg border-2 border-black mb-10 mx-5" src="{{ '/images/' | relative_url }}squiggles/process-draft--tiny3." alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/inhouse-2.jpg">
       <img class="max-w-full w-5/12 md:w-5/12 self-center rounded-lg border-2 border-black mb-10 mx-5" src="{{ '/images/' | relative_url }}squiggles/process-draft--tiny2." alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/inhouse-3.jpg">
       <img class="max-w-full w-5/12 md:w-5/12 self-center rounded-lg border-2 border-black mb-10 mx-5" src="{{ '/images/' | relative_url }}squiggles/process-draft--tiny2." alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/inhouse-4.jpg">
     </div>
    <video class="inline-block w-full mb-2" controls loop>
      <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/inhouse-title.mp4" type="video/mp4">
      <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/inhouse-title.webm" type="video/webm">
    </video>
    <video class="inline-block w-full" controls loop>
      <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/inhouse-singalong.mp4" type="video/mp4">
      <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/inhouse-singalong.webm" type="video/webm">
    </video>
   </div>
 </section>
 <section>
   {% include image-caption.html 
    image="making-good/direction.png" 
    title="Creative Direction" 
    caption="Jack, Making Good's showrunner, wanted it to feel like Saul Bass, Brady Bunch, Monster's Inc. I looked to 50s Betty Crocker cookbooks, and Alain Grée."
    theme="black"
  %}
    {% include image-caption.html 
    image="making-good/brand-book.png" 
    title="Guidelines" 
    caption="The deliverables included a 28 page pdf guidelines for editors, vendors, and caption or title designers."
    theme="black"
  %}
  {% include image-caption.html 
    image="making-good/logo-optical-sizes.png" 
    title="Logo Optical Sizes" 
    caption="Because the kit needed to span digital, print, and video applications, I created two optical sizes of the logo."
    theme="black"
  %}
  {% include image-caption.html 
    image="making-good/typography.png" 
    title="Typography" 
    caption="It was important that the in-house team at Cosmos didn't get stuck with a brand that needed a full time letterer or illustrator. So I created some opinionated, bespoke fonts." 
    theme="black"
  %}
</section>