---
layout: work
title:  Medium Rare Books
tags: ['web', 'type']
year: "2018"
client:	Intercom
image: .webm
theme: white
summary: >-
  The Medium Rare Books Library began in early 2018 with the acquisition of a selection of rare books from Dave Cuzner, Founder and Senior Editor at <a class="squiggle" href="https://grainedit.com/">Grain Edit</a> for the Intercom Brand Studio. Our brand director, Stewart Scott-Curan, started the library to help the team get better at critically assessing what elements should and should not influence their work. Our experience with the library inspired us to better organize and make available that material online.
contributions:
  - layout
  - type design
  - icons
  - web development
collaborators:
  - name: Me, Kyle
    role: Brand Designer, Developer
  - name: Kelly Carpenter
    url: https://kellydcarpenter.com/
    role: Brand Designer
  - name: Matt Yow
    url: https://mattyow.com/
    role: Brand Designer
  - name: Carly Wright
    url: https://www.instagram.com/carknowsdatswright/
    role: Producer
---
{% include work-header.html %}

<section class="bg-white px-2 py-2">
    <video class="block pb-2 max-w-full w-full" controls loop autoplay muted>
      <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/hero.mp4" type="video/mp4">
      <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/hero.webm" type="video/webm">
    </video>
    <video class="block max-w-full w-full mb-2" autoplay muted playsinline loop>
      <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/collage.webm" type="video/webm">
        <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/collage.mp4" type="video/mp4">
    </video>
    <img class="max-w-full w-full mb-2" src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/betty-crocker-3.jpg">
    <img class="max-w-full w-full mb-2" src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/party-team.png">
    <img class="max-w-full w-full mb-2" src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/party-table.png">
    <img class="max-w-full w-full" src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/party-bookmarks.png">
</section>
<section class="bg-orange">
    {% include image-caption.html 
    image="medium-rare-books/photoshoot-1.png" 
    title="Art Direction and Photography" 
    caption="We tried using each book's unique ISBN and the OpenLibrary API to populate the cover image for our database, but very few of our books had ISBNs, and the ones that did were so rare that no scan of the cover existed. Kelly painstakingly scouted some props and she and Matt got to the task of shooting the 200+ covers with two interior shots each."
    theme="orange"
  %}
  {% include image-caption.html 
    image="medium-rare-books/typography.png" 
    title="Headline Type" 
    caption="With a database of books, type was our most predominant design element. So I drew a custom typeface (Medium Rare Sans): a bizarre sans bolted onto a vanilla genre. Unusual proportions, overbites (see a), underbites (see g), flat bottomed t&apos;s and y&apos;s, and diamond dots all contribute to that feel." 
    theme="orange"
  %}
  {% include image-caption.html 
    image="medium-rare-books/typography-2.png" 
    title="Caption Type" 
    caption='The system needed something that could get small. Teaming up with <a class="squiggle" href="https://www.futurefonts.xyz/inga-plonnigs/messer">Messer</a> for body text, Medium Rare Caption became the bedrock of ignorable copy.' 
    theme="orange"
  %}
  {% include image-caption.html 
    image="medium-rare-books/icons.png" 
    title="Icons" 
    caption="Behind the scenes, our yml database file was tracking 9 data points, but most were less than interesting to display. I drew a set of icons to support and add intrigue."
    theme="orange"
  %}
</section>
