---
layout: work
title:  Or You Could Use Intercom
tags: ['illustration', 'brand']
year:   "2018"
client:	Intercom
image: .png
theme: terrazzo
summary: >-
  Intercom's first out-of-home campaign included subway and billboard ads in SF, airport ads in Austin, and GTM spots across Facebook and Youtube.
contributions:
  - design
  - illustration
  - video direction
collaborators:
  - name: Me, Kyle
    role: Senior Brand Designer
  - name: Chelsea Spratling
    role: Copywriter
  - name: Dani Balenson
    url: http://www.danibalenson.com/
    role: Brand Designer
  - name: Brooks Chambers
    role: Strategist
  - name: Stewart Scott-Curran
    role: Creative Director
  - name: Stewart Scott-Curran
    role: Creative Director
  - name: Carly Wright
    role: Producer
  - name: Jason Yim
    role: Brand Designer
  - name: Lily Wang
    role: Brand Designer
  - name: Anna Alexia-Basile
    role: Photographer
overview:
  section_class: z-10 bg-grey
  container_class: py-16
  variant: or-you-process
  eyebrow: Process
  intro: >-
    After getting the strategy and a few sample headlines locked, the core team had about four weeks to extrapolate that info into 10 lockups.
---
{% include work-header.html %}

<section class="z-10 bg-terrazzo">
  <div class="py-2ç px-2">
    <img src="{{ '/images/' | relative_url }}squiggles/bart-cold-lead-tinys." alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/bart-cold-leads.jpg"/>
    <div class="flex">
      <img class="w-1/2 self-center" src="{{ '/images/' | relative_url }}squiggles/bart-keep-hidin-tinyg." alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/bart-keep-hiding.jpg"/>
      <img class="w-1/2 self-center" src="{{ '/images/' | relative_url }}squiggles/bart-wha-tinyt." alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/bart-what.jpg"/>
    </div>
    <img class="w-full mb-2" src="{{ '/images/' | relative_url }}squiggles/bart-cold-leads--tiny2." alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/bart-cold-leads-2.jpg"/>
    <img class="w-full mb-2" src="{{ '/images/' | relative_url }}squiggles/billboard-swea-tinyt." alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/billboard-sweat.jpg"/>
    <video class="w-full max-w-full mb-2" controls loop autoplay muted>
      <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/hero.mp4" type="video/mp4">
      <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/hero.webm" type="video/webm">
    </video>
    <video class="w-full max-w-full mb-2" controls loop autoplay muted>
      <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/youtube-know-what-makes-your-customers-really-click.mp4" type="video/mp4">
      <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/youtube-know-what-makes-your-customers-really-click.webm" type="video/webm">
    </video>
    <video class="w-full max-w-full mb-2" controls loop autoplay muted>
      <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/youtube-looking-to-contact-your-leads.mp4" type="video/mp4">
      <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/youtube-looking-to-contact-your-leads.webm" type="video/webm">
    </video>
    <video class="w-full max-w-full mb-10" controls loop autoplay muted>
      <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/youtube-need-new-customers-now.mp4" type="video/mp4">
      <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/youtube-need-new-customers-now.webm" type="video/webm">
    </video>
  </div><!--container-->
</section>
<!--squiggly rule -->
{% include hr-squiggle.html top='white' bottom='grey' spacing='tight' %}

<section class="z-10 bg-grey">
  <div class="px-2 py-10">
    <div class="mx-auto glow w-1/3 rounded-lg border-2 border-black mb-10">
      <img class="max-w-full" src="{{ '/images/' | relative_url }}squiggles/process-ab--tiny4." alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/process-ab-4.jpg">
    </div>
    <div class="md:flex md:justify-center mb-16 flex-wrap">
      <img class="max-w-full w-1/3 self-center image mb-10" src="{{ '/images/' | relative_url }}squiggles/process-ab--tiny1." alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/process-ab-1.jpg">
      <img class="max-w-full w-1/3 self-center image mb-10 ml-10" src="{{ '/images/' | relative_url }}squiggles/process-ab--tiny3." alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/process-ab-3.jpg">
      <img class="max-w-full w-2/3 self-center image" src="{{ '/images/' | relative_url }}squiggles/process-ab--tiny2." alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/process-ab-2.jpg">
    </div>
    <div class="flex justify-center flex-wrap">
      <img class="max-w-full w-1/2 self-center" src="{{ '/images/' | relative_url }}squiggles/thumbnai-tinyl." alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/thumbnail.png">
      <video class="w-1/2" autoplay muted playsinline loop>
        <source class="w-full h-auto" src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/process-pizza.mp4" type="video/mp4">
        <source class="w-full h-auto" src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/process-pizza.webm" type="video/webm">
      </video>
    </div>
  </div><!--container-->
</section>
