---
layout: work
title: Webflow Rebrand
tags: ['brand', 'icon', 'type']
year: "2023"
client: Webflow
image: .png
theme: black
summary: >-
  Webflow just turned ten. Its style was beginning to lag behind the competition. In an effort to catch up, the internal team put together a two month sprint to refresh the look of the brand and product design. The work was expanded and implemented by every designer at Webflow, the team listed here is just that core sprint group.
contributions:
  - research
  - art direction
  - icons
  - type
collaborators:
  - name: Sara Lundberg, Corey Moen, Meg Wayne, Rese Wynn, Jason Combs, Pat Szot
    role: Brand Design
  - name: Hüseyin Gayiran, Sergie Magdalin, Mackenzie Child
    role: Product Design
  - name: McGuire Brannon
    role: Creative Direction
header:
  variant: image
  class: text-white
---

{% include work-header.html %}

<section class="z-10 bg-black"><!--overview-->
  <div class="container py-10 md:py-16 xl:px-32 mx-auto">
    <video class="inline-block max-w-full" controls loop autoplay muted>
        <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/overview.mp4" type="video/mp4">
        <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/overview.webm" type="video/webm">
    </video>
  </div><!--container-->
  </section>
  <!--squiggly rule -->
  {% include hr-squiggle.html top='black' bottom='grey' spacing='tight' %}
  <section class="z-10 bg-grey"><!--process-->
    <div class="container py-10 md:py-16 lg:py-24 xl:py-32 xl:px-32 mx-auto">
      <div class="caption uppercase tracking-wider text-center mb-5">
        Research
      </div>
      <div class="subhead text-center mb-16 lg:w-2/3 lg:mx-auto">
        Webflow had attempted a few rebrands over the years. None of them shipped. So we put work into understanding what Webflow leaders and designers wanted, so that our work might see the light of day. Everyone at Webflow is pretty visually minded.
      </div>
      <div class="md:flex md:justify-between">
        <div class="mb-5 md:w-2/3 md:mb-0 md:mr-8">
            <img class="max-w-full rounded-lg border-2 border-black" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/activity.png">
        </div>
        <div class="mb-5 md:w-1/3 md:mb-0 md:mx-4">
            <p class="body mb-5">We led a few exercises and workshops. One activity asked participants to judge how different brands ranked according to our brand pillars (Powerful, Nimble, Seamless).</p>
            <p class="body">The brand boards were picked from a group of competitors, and from tech brands we admired.</p>
        </div>
      </div>
    </div><!--container-->
    <div class="marquee-image"><!-- marquee image-->
      <div class="marquee-image-track">
        <img src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/activity-2.png">
        <img src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" aria-hidden="true" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/activity-2.png">
      </div>
    </div>
    <div class="container py-10 md:py-16 lg:py-24 xl:py-32 xl:px-32 mx-auto">
      <div class="subhead text-center mb-16 lg:w-2/3 lg:mx-auto">
        The results showed a shared admiration for brands with end to end cohesion, and design centered approach. 
      </div>
      <div class="glow block md:w-1/2 lg:w-5/12 mx-auto mb-10">
        <img class="max-w-full rounded-lg border-2 border-black mb-5" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/activity-3.png">
      </div>
   </div><!--container-->
 </section>
 <!--squiggly rule -->
  {% include hr-squiggle.html top='grey' bottom='periwinkle' spacing='tight' %}
 <section class="bg-stars">
   <div class="container xl:px-32 py-10 md:py-16 lg:py-24 xl:py-32 mx-auto">
     <div class="caption uppercase text-center mb-5">
       Type
     </div>
     <div class="subhead text-center mb-16 mx-auto md:w-2/3">Somewhere in the rebrand dust cloud, a custom typeface was born. This became the unifying asset across brand and product.</div>
      <div class="md:flex md:justify-between items-center">
        <div class="mb-5 md:w-2/3 md:mb-0 md:mr-8">
            <img class="max-w-full" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/type-draft.png">
        </div>
        <div class="mb-5 md:w-1/3 md:mb-0 md:mx-4">
            <p class="subhead mb-5">The product designers were set on Inter. Or they wanted the (free) neutrality that Inter provided.</p>
            <p class="body mb-5">This helped in some ways. It changed our expectations for what type needed to do. Now we were asking: what can we pair with Inter for branding? Or, what disqualifies Inter from being a brand font?</p>
            <p class="body mb-10">Well... </p>
            <p class="body mb-10">it isn’t differentiated. So I sketched some that were.</p>
        </div>
      </div>
    </div><!--container-->
    <div class="">
      <div class="subhead text-center mb-5 px-16 md:w-2/3 mx-auto">Inter is like an interpolation of Arial and SF Pro. It feels somewhere between a default and a happy accident.</div>
      <img class="w-full max-w-full mb-3" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/type-sketch-01.svg">
      <div class="subhead text-center mb-5 px-16 md:w-2/3 mx-auto">At this time a display optical size didn't exist. So adjusting spacing, x-height, contrast, all felt like easy ways to increase tone.</div>
      <img class="w-full max-w-full mb-3" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/type-sketch-02.svg">
      <div class="subhead text-center mb-5 px-16 md:w-2/3 mx-auto">Ink traps can flair up a sans. But, at what cost??</div>
      <img class="w-full max-w-full mb-3" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/type-sketch-03.svg">
      <div class="subhead text-center mb-5 px-16 md:w-2/3 mx-auto">At about this point it became clear we wanted a geo—because its crude approach to letters felt connected to the new logo, which was built of simple shapes.</div>
      <img class="w-full max-w-full mb-3" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/type-sketch-04.svg">
      <div class="subhead text-center mb-5 px-16 md:w-2/3 mx-auto">I tried further abstracting the geo concept, reducing parts of letters to primary shapes, but none of these ideas reduced to a cohesive design.</div>
      <img class="w-full max-w-full" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/type-sketch-05.svg">
    </div>
    <div class="container xl:px-32 py-10 md:py-16 lg:py-24 mx-auto">
      <div class="lg:flex border-2 border-black bg-white rounded-lg p-10 mb-5">
        <div class="mb-5 lg:w-1/12">
              <p class="caption mb-5">Display</p>
        </div>
        <div class="lg:w-11/12">
          <img class="w-full max-w-full mb-3" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/type-final-display.svg">
        </div>  
      </div>
      <div class="lg:flex border-2 border-black bg-white rounded-lg p-10">
        <div class="mb-5 lg:w-1/12">
              <p class="caption mb-5">Text</p>
        </div>
        <div class="lg:w-11/12">
          <img class="w-full max-w-full mb-3" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/type-final-text.svg">
        </div>
      </div>
    </div><!--container-->
    <div class="marquee-image"><!-- marquee image-->
      <div class="marquee-image-track">
        <img src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/type-guidelines.png">
      </div>
    </div>
    <div class="container xl:px-32 py-10 md:py-16 lg:py-24 mx-auto">
      {% include relatedposts.html %}
    </div>
 </section>
