---
layout: work
title: Webflow Rebrand
tags: ['brand', 'icon', 'type']
year: "2023"
client: Webflow
image: .png
summary: >-
  Webflow just turned ten. Its style was beginning to lag behind the competition. In an effort to catch up, the internal team put together a two month sprint to refresh the look of the brand and product design. The work was expanded and implemented by every designer at Webflow, the team listed here is just that core sprint group.
collaborators:
  - name: Me, Kyle
    role: Principal Brand Designer
  - name: Sara Lundberg
    role: Design Manager
  - name: Corey Moen
    role: Senior Brand Web Designer
  - name: Meg Wayne
    role: Senior Designer
  - name: Rese Wynn
    role: Senior Brand Designer 
  - name: Jason Combs
    role: Senior Brand Designer
  - name: Pat Szot
    role: Senior Brand Designer
  - name: Huseyin Gayiran
    role: Product Design
  - name: Sergie Magdalin
    role: Product Design Lead
  - name: Mackenzie Child
    role: Senior Product Designer
  - name: McGuire Brannon
    role: Creative Direction
---

{% include work-header.html theme="periwinkle" %}

<section class="z-10 bg-black py-2 pb-10"><!--overview-->
  <div class="px-2">
    <video class="inline-block max-w-full w-full mb-2" controls loop autoplay muted>
        <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/overview.mp4" type="video/mp4">
        <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/overview.webm" type="video/webm">
    </video>
    <div class="lg:flex p-2 bg-white mb-2">
        <div class="mb-5 lg:w-1/12">
              <p class="caption mb-5">Display</p>
        </div>
        <div class="lg:w-11/12">
          <img class="w-full max-w-full mb-2" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/type-final-display.svg">
        </div>  
      </div>
      <div class="lg:flex bg-white p-2 mb-2">
        <div class="mb-5 lg:w-1/12">
              <p class="caption mb-5">Text</p>
        </div>
        <div class="lg:w-11/12">
          <img class="w-full max-w-full mb-3" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/type-final-text.svg">
        </div>
      </div>
  </div><!--container-->
  {% include carousel.html 
    images="webflow-rebrand/type-guidelines-01.png,
    webflow-rebrand/type-guidelines-02.png,
    webflow-rebrand/type-guidelines-03.png,
    webflow-rebrand/type-guidelines-04.png,
    webflow-rebrand/type-guidelines-05.png,
    webflow-rebrand/type-guidelines-06.png,
    webflow-rebrand/type-guidelines-07.png" %}
  {% include image-toggle.html 
    images="webflow-rebrand/icons-dark.png,
    webflow-rebrand/icons-light.png"
    title="Icons" 
    caption="Marketing icons were our best plug and play asset. They showed up across slides and site, so they needed to feel consistent and branded." 
  %}
  {% include carousel.html 
    images="webflow-rebrand/icon-guidelines-01.png,
    webflow-rebrand/icon-guidelines-02.png,
    webflow-rebrand/icon-guidelines-03.png,
    webflow-rebrand/icon-guidelines-04.png,
    webflow-rebrand/icon-guidelines-05.png,
    webflow-rebrand/icon-guidelines-06.png" %}
  {% include image-caption.html 
    video="webflow-rebrand/icon-manager" 
    title="Icon Manager" 
    caption="At the end of the project, I built an Icon Manager which could connect product, marketing, and self serve. It also allowed us to deploy updates." 
    theme="black"
  %}
  </section>
 <!--squiggly rule -->
  {% include hr-squiggle.html top='black' bottom='periwinkle' spacing='tight' %}
 <section class="bg-stars py-2">
      {% include image-caption.html 
      image="webflow-rebrand/type-draft.png" 
      title="Typography" 
      caption="In order to connect brand and product, the custom typeface needed to functionally span display, text and ui. Inter, the product typeface, proved a good start for exploring sketches." 
      theme="periwinkle"
    %}
   <div class="my-2 px-2">
      <img class="w-full max-w-full mb-2" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/type-sketch-01.svg">
      <img class="w-full max-w-full mb-2" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/type-sketch-02.svg">
      <img class="w-full max-w-full mb-2" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/type-sketch-03.svg">
      <img class="w-full max-w-full mb-2" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/type-sketch-04.svg">
      <img class="w-full max-w-full pb-10" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/type-sketch-05.svg">
    </div>
 </section>
 <!--squiggly rule -->
  {% include hr-squiggle.html top='periwinkle' bottom='grey' spacing='tight' %}
  <section class="z-10 bg-grey px-2 py-2"><!--process-->
    {% include image-caption.html 
      image="webflow-rebrand/activity.png" 
      title="Research Activity" 
      caption="Pat and I put together an activity for understanding what Webflow leaders and designers wanted. This pulled together moodboards from competitors, and asked visually-minded stakeholders to provide feedback." 
      theme="grey"
    %}
    {% include carousel.html 
      images="webflow-rebrand/research-activity-01.png,
      webflow-rebrand/research-activity-02.png,
      webflow-rebrand/research-activity-03.png,
      webflow-rebrand/research-activity-04.png,
      webflow-rebrand/research-activity-05.png,
      webflow-rebrand/research-activity-06.png,
      webflow-rebrand/research-activity-07.png,
      webflow-rebrand/research-activity-08.png,
      webflow-rebrand/research-activity-09.png,
      webflow-rebrand/research-activity-10.png,
      webflow-rebrand/research-activity-11.png,
      webflow-rebrand/research-activity-12.png" %}
    {% include image-caption.html 
      image="webflow-rebrand/activity-3.png" 
      title="Results" 
      caption="The results of the activity showed a shared admiration for brands with end to end cohesion, and design systems that felt more like a design language." 
      theme="grey"
    %}
 </section>