---
layout: work
title: Webflow Rebrand
tags: ['brand', 'icon', 'type']
year: "2023"
client: Webflow
image: .png
theme: black
summary: >-
  Webflow just turned ten. Its style was beginning to lag behind the competition. In an effort to catch up, the internal team put together a two month sprint to refresh the look of the brand and product design. The work was expanded and implemented by every designer at Webflow, the team listed here is just that core sprint group.
collaborators:
  - name: Me, Kyle
    role: Principal Brand Designer
  - name: Sara Lundberg
    role: Design Manager
  - name: Corey Moen
    role: Senior Brand Web Designer
  - name: Meg Wayne
    role: Senior Designer
  - name: Rese Wynn
    role: Senior Brand Designer 
  - name: Jason Combs
    role: Senior Brand Designer
  - name: Pat Szot
    role: Senior Brand Designer
  - name: Huseyin Gayiran
    role: Product Design
  - name: Sergie Magdalin
    role: Product Design Lead
  - name: Mackenzie Child
    role: Senior Product Designer
  - name: McGuire Brannon
    role: Creative Direction
---

{% include work-header.html %}

<section class="z-10 bg-black"><!--overview-->
  <div class="px-2 py-10">
    <video class="inline-block max-w-full w-full mb-2" controls loop autoplay muted>
        <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/overview.mp4" type="video/mp4">
        <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/overview.webm" type="video/webm">
    </video>
    <div class="lg:flex p-2 bg-white mb-2">
        <div class="mb-5 lg:w-1/12">
              <p class="caption mb-5">Display</p>
        </div>
        <div class="lg:w-11/12">
          <img class="w-full max-w-full mb-2" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/type-final-display.svg">
        </div>  
      </div>
      <div class="lg:flex bg-white p-2 mb-2">
        <div class="mb-5 lg:w-1/12">
              <p class="caption mb-5">Text</p>
        </div>
        <div class="lg:w-11/12">
          <img class="w-full max-w-full mb-3" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/type-final-text.svg">
        </div>
      </div>
      <div class="marquee-image"><!-- marquee image-->
        <div class="marquee-image-track">
          <img src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/type-guidelines.png">
        </div>
      </div>
  </div><!--container-->
  </section>
 <!--squiggly rule -->
  {% include hr-squiggle.html top='black' bottom='periwinkle' spacing='tight' %}
 <section class="bg-stars">
   <div class="py-2 px-2">
      {% include image-caption.html 
        image="webflow-rebrand/type-draft.png" 
        title="Typography" 
        caption="In order to span brand and product, the custom typeface needed to span display, text and ui. Inter proved a good start for exploring sketches." 
        theme="periwinkle"
      %}
      <img class="w-full max-w-full mb-2" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/type-sketch-01.svg">
      <img class="w-full max-w-full mb-2" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/type-sketch-02.svg">
      <img class="w-full max-w-full mb-2" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/type-sketch-03.svg">
      <img class="w-full max-w-full mb-2" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/type-sketch-04.svg">
      <img class="w-full max-w-full mb-10" src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/type-sketch-05.svg">
    </div>
 </section>
 <!--squiggly rule -->
  {% include hr-squiggle.html top='periwinkle' bottom='grey' spacing='tight' %}
  <section class="z-10 bg-grey px-2 py-2"><!--process-->
      {% include image-caption.html 
        image="webflow-rebrand/activity.png" 
        title="Research Activity" 
        caption="Webflow had attempted a few rebrands over the years. None of them shipped. So we put work into understanding what Webflow leaders and designers wanted, so that our work might see the light of day. Everyone at Webflow is pretty visually minded. " 
        theme="grey"
      %}
    <div class="marquee-image"><!-- marquee image-->
      <div class="marquee-image-track">
        <img src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/activity-2.png">
        <img src="{{ '/images/' | relative_url }}squiggles/bigcloud.gif" alt="" aria-hidden="true" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/activity-2.png">
      </div>
    </div>
      {% include image-caption.html 
        image="webflow-rebrand/activity-3.png" 
        title="Results" 
        caption="The brand boards were picked from a group of competitors, and from tech brands we admired. The results of the activity showed a shared admiration for brands with end to end cohesion, and design centered approach. " 
        theme="grey"
      %}
 </section>
