---
layout: default
title: home
theme: white
---
  <section class="mb-10 sm:mb-16 md:mb-20 lg:mb-32 pb-24"><!--hero-->
    <div class="container">
      <ul class="flex justify-center flex-wrap">
      {% assign sorted_work = site.work | sort: "year" | reverse %}
      {% for post in sorted_work %}
          <li class="w-64 p-5 sm:w-1/2 md:w-1/3 xl:w-1/4 text-center">
            <a href="{{site.baseurl}}{{ post.url }}">
              {% if post.image %}
                {% if post.image != ".webm" %}
                  <img style="height:auto !important;" class="w-full mx-auto mb-5 md:h-64 md:mb-10" src="{{ '/images/' | relative_url }}{{ post.title | slugify }}/thumbnail{{post.image}}">
                {% else %}
                  <video style="height:auto !important;" class="w-full mx-auto mb-5 md:h-64 md:mb-10 rounded-lg" autoplay="autoplay" loop>
                    <source src="{{ '/images/' | relative_url }}{{ post.title | slugify }}/thumbnail{{post.image}}" type="video/webm">
                    <source src="{{ '/images/' | relative_url }}{{ post.title | slugify }}/thumbnail.mp4" type="video/mp4">
                  </video>
                {% endif %}
              {% endif %}
              <div class="font-talmage font-regular text-3xl md:text-4xl lg:text-5xl leading-none mb-1 lg:mb-2">{{post.title}}</div>
              {% if post.client != "unknown" %}
              <div class="font-geordi font-semibold text-1xl leading-tight">{{post.client}}</div>
              {% endif %}
              <!--{% if post.year != "unknown" %}
              <div>{{post.year}}</div>
              {% endif %}-->
            </a>
          </li>
      {% endfor %}
      </ul>
    </div>
  </section><!--/hero-->
