---
layout: default
title: home
theme: white
---
  <section class="mb-10 sm:mb-16 md:mb-20 lg:mb-32 pb-24"><!--hero-->
    <ul class="flex justify-center flex-wrap">
    {% for post in site.work %}
        <li class="w-full p-5 sm:w-1/2 md:w-1/3 xl:w-1/4 xxl:w-1/5 xxxl:w-1/6 text-center">
          <a href="{{site.baseurl}}{{ post.url }}">
            {% if post.image %}
              {% if post.image != ".webm" %}
                <img class="w-64 mx-auto mb-5 md:w-auto max-w-full md:mb-10" src="{{ '/images/' | relative_url }}{{ post.title | slugify }}/thumbnail{{post.image}}">
              {% else %}
                <video class="w-64 mx-auto mb-5 md:w-auto max-w-full md:mb-10" autoplay="autoplay" loop>
                  <source src="{{ '/images/' | relative_url }}{{ post.title | slugify }}/thumbnail{{post.image}}" type="video/webm">
                  <source src="{{ '/images/' | relative_url }}{{ post.title | slugify }}/thumbnail.mp4" type="video/mp4">
                </video>
              {% endif %}
            {% endif %}
            <div class="font-talmage font-regular text-3xl leading-none mb-1 lg:mb-2">{{post.title}}</div>
            <!--{% if post.tags != "unknown" %}
            <ul>
              {% for tag in post.tags %}
                <li>{{tag}}</li>
              {% endfor %}
            </ul>
            {% endif %}-->
            {% if post.client != "unknown" %}
            <div class="font-geordi font-semibold text-1xl leading-tight">{{post.client}}</div>
            {% endif %}
            <!--{% if post.year != "unknown" %}
            <div>{{post.year}}</div>
            {% endif %}-->
          </a>
        </li>
    {% endfor %}
    </ul>
  </section><!--/hero-->
