<footer class="bg-green font-body pt-24 -mt-32">
  <div class="container">
    <div class="flex items-center justify-center sm:flex-no-wrap p-8 sm:p-16 md:p-20 lg:p-24 text-white">
      <div class="w-half flex-grow">
        <img width="100px" height="auto" src="{{ '/images/' | relative_url }}squiggles/kyle.png"/>
        <a class="bg-black rounded-full whitespace-no-wrap px-20 py-12 subhead" href="mailto:{{site.email}}">Email me</a>
      </div>
      <div class="w-half">
        <div class="caption mb-5">Colophon:</div>
        <a class="bg-orange block flex items-center rounded-lg mb-4" href="http://www.futurefonts.xyz/verycoolstudio">
          <div class="bg-pink font-talmage font-regular rounded-tl-lg rounded-bl-lg text-3xl w-16 text-center p-2">
            Aa
          </div>
          <div class="font-geordi font-regular text-1xl py-2 px-6">
            VC Talmage, via <strong>FutureFonts.xyz</strong>.
          </div>
        </a>
        <a class="bg-orange block flex items-center rounded-lg mb-4" href="http://www.futurefonts.xyz/verycoolstudio">
          <div class="bg-pink font-geordi font-bold rounded-tl-lg rounded-bl-lg text-3xl w-16 text-center p-2">
            Aa
          </div>
          <div class="font-geordi font-regular text-1xl py-2 px-6">
            VC Geordi, not yet released.
          </div>
        </a>
      </div>
    </div>
  </div><!--/container-->
</footer>
</div><!--/main-->
</body>
</html>
