<!doctype html>
<html class="no-js" lang="en-US">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  {% assign meta_description = page.summary | default: site.description | strip_html | normalize_whitespace %}
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if meta_description != '' %}
  <meta name="description" content="{{ meta_description }}">
  <meta property="og:description" content="{{ meta_description }}">
  {% endif %}
  <link rel="stylesheet" href="{{ '/assets/css/' | relative_url }}style.css?{{site.time | date: '%s%N'}}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide-core.min.css">
  <script type="text/javascript" src="{{ '/assets/js/' | relative_url }}js.js?{{site.time | date: '%s%N'}}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.5.3/dist/js/splide-extension-auto-scroll.min.js"></script>
  <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.9.7/dist/dotlottie-wc.js" type="module"></script>
  <link rel="icon" type="image/png" href="{{ '/images/' | relative_url }}squiggles/favicon.png"/>
  <meta property="og:image" content="{{ '/images/' | relative_url }}share-image.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1024">
  <meta property="og:image:height" content="1024">

</head>
<body class="bg-{{ page.theme }} md:flex">
  {% include workmenu.html %}
  <div id="main" class="main relative flex-grow max-w-full overflow-x-hidden">
    <nav class="top-nav sticky top-0 z-50 bg-lime border-b-2 border-black" id="topNav">
      <div class="flex items-center  lg:justify-between px-2 py-2">
        <div class="flex items-center">
          {% if page.audio %}
          <audio controls class="h-8">
            <source src="{{ '/images/' | relative_url }}{{ page.audio }}" type="audio/mpeg">
          </audio>
          {% endif %}
        </div>
        <div class="flex items-center w-full justify-between lg:w-auto lg:justify-end">
        <a href="#footer" class="body text-subtle mr-6">About</a>
        {% if page.title != "No Context Kyle" %}
        <a href="{% link no-context-kyle.html %}" class="body text-subtle mr-6">No context Kyle</a>
        {% endif %}
        <button class="body text-subtle outline-none flex items-center" onclick="toggleMenu()">
          Menu
          <img class="ml-2" width="24" height="auto" src="{{ '/images/' | relative_url }}squiggles/Menu.svg" alt="Menu">
        </button>
        </div>
      </div>
    </nav>
