<div class="flex px-2 py-2 {% if include.theme %}bg-{{ include.theme }}{% endif %}">
  <div class="w-1/3 pr-2 flex flex-col justify-between">
    {% if include.title %}
    <div class="body font-bold">{{ include.title }}</div>
    {% else %}
    <div></div>
    {% endif %}
    {% if include.caption %}
    <div>
      <hr class="border-black mb-2 w-8">
      <div class="body text-gray-600 text-justify">{{ include.caption }}</div>
    </div>
    {% endif %}
  </div>
  <div class="w-2/3 pl-2">
    {% if include.video %}
    <video class="w-full h-auto" autoplay muted playsinline loop>
      <source src="{{ '/images/' | relative_url }}{{ include.video }}.mp4" type="video/mp4">
      <source src="{{ '/images/' | relative_url }}{{ include.video }}.webm" type="video/webm">
    </video>
    {% else %}
    <img class="w-full h-auto" src="{{ '/images/' | relative_url }}{{ include.image }}" alt="{{ include.title | default: '' }}">
    {% endif %}
  </div>
</div>
