{% assign header = page.header %}
{% assign header_variant = header.variant | default: 'none' %}
{% assign header_align = header.align | default: 'center' %}

{% assign meta_class = 'text-center caption mb-5' %}
{% assign summary_class = 'text-center subhead mb-5 lg:w-2/3 lg:mx-auto' %}

{% if header.title_class %}{% assign title_class = header.title_class %}{% endif %}
{% if header.meta_class %}{% assign meta_class = header.meta_class %}{% endif %}
{% if header.summary_class %}{% assign summary_class = header.summary_class %}{% endif %}
{% if header.details_class %}{% assign details_class = header.details_class %}{% endif %}

<header class="header{% if header.class %} {{ header.class }}{% endif %}">
  <div class="container xl:px-32 mx-auto{% if header.container_class %} {{ header.container_class }}{% endif %}">
    {% if header_variant == 'image' %}
      <img{% if header.media_class %} class="{{ header.media_class }}"{% endif %} src="{{ '/images/' | relative_url }}{{ header.placeholder_asset | default: 'squiggles/bigcloud.gif' }}" alt="{{ header.media_alt | default: '' }}" data-echo="{{ '/images/' | relative_url }}{{ page.title | slugify }}/{{ header.media_asset | default: 'hero.png' }}">
    {% elsif header_variant == 'linked-video' %}
      <a href="{{ header.link_url }}" class="{{ header.link_class | default: 'block text-center image mb-10' }}">
        <div class="{{ header.link_bar_class | default: 'bg-black' }}">
          <svg class="inline-block" width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.57136 6H6.4285V4.0714C6.4285 3.00628 5.56505 2.14283 4.49993 2.14283C3.43481 2.14283 2.57136 3.00628 2.57136 4.0714V6ZM1.28564 6C0.575596 6.00004 0 6.57566 0 7.28571V11.7143C0 12.4244 0.575634 13 1.28571 13H7.71429C8.42437 13 9 12.4244 9 11.7143V7.28571C9 6.57563 8.42437 6 7.71429 6H7.71422V4.0714C7.71422 2.2962 6.27513 0.857117 4.49993 0.857117C2.72473 0.857117 1.28564 2.2962 1.28564 4.0714V6Z" fill="white"/>
          </svg>
          <div class="inline-block caption text-white leading-none py-3">{{ header.link_label | default: header.link_url }}</div>
        </div>
        <video class="{{ header.media_class | default: 'inline-block max-w-full' }}" autoplay="autoplay" loop>
          <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/{{ header.video_basename | default: 'hero' }}.mp4" type="video/mp4">
          <source src="{{ '/images/' | relative_url }}{{ page.title | slugify }}/{{ header.video_basename | default: 'hero' }}.webm" type="video/webm">
        </video>
      </a>
    {% endif %}

    <div{% if header.content_class %} class="{{ header.content_class }}"{% endif %}>
      <h1 class="text-center mb-5 mega" itemprop="name headline">{{ page.title }}</h1>
      <p class="{{ meta_class }}">{{ page.client }} {{ page.year }}</p>
      {% if page.summary %}
      <p class="{{ summary_class }}">{{ page.summary }}</p>
      {% endif %}
      {% assign contributions = page.contributions | default: page.tags %}
      {% if contributions or page.collaborators %}
      <div class="flex text-center mx-auto lg:w-3/4 mb-10">
        {% if contributions %}
        <dl class="w-full md:w-1/2 ">
          <dt class="inline caption">Me →</dt>
          <dd class="inline body">{{ contributions | join: ', ' }}</dd>
        </dl>
        {% endif %}
        {% if page.collaborators and page.collaborators.size > 0 %}
        <dl class="w-full md:w-1/2">
            <dt class="inline caption">Collaborators →</dt>
            <dd class="inline body">
                {% for collaborator in page.collaborators %}
                {% if collaborator.url %}<a class="squiggle inline caption" href="{{ collaborator.url }}">{{ collaborator.name }}</a>
                {% else %}<span class="inline caption">{{ collaborator.name }}</span>{% endif %}
                {% if collaborator.role %}{{ collaborator.role }}{% endif %}
                {% endfor %}
            </dd>
        </dl>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div><!--container-->
</header>