<nav class="lg:sticky top-0 h-screen overflow-y-scroll min-h-full bg-lime flex flex-col" id="sideNav">
  <div class="flex flex-col h-full">
    <div class="px-2 py-2">
      <div class="table w-full text-subtle" style="border-collapse: collapse;">
        <div class="table-row border-b border-dashed border-subtle">
          <span class="table-cell text-left pb-10 body italic">Job</span>
          <span class="table-cell text-left pb-10 body italic"></span>
          <span class="table-cell text-right pb-10 body italic">Date</span>
        </div>
        {% assign sorted_work = site.work | sort: "year" | reverse %}
        {% for post in sorted_work %}
          <a href="{{ post.url }}" class="table-row border-t border-dashed border-subtle hover:text-black{% if post.url == page.url %} text-black{% endif %}">
            <span class="table-cell body align-top whitespace-no-wrap py-1">{{ post.client }}</span>
            <span class="table-cell body align-top py-1 px-4">{{ post.summary | truncatewords: 18 }}</span>
            <span class="table-cell text-right body align-top whitespace-no-wrap py-1">{{ post.year }}</span>
          </a>
        {% endfor %}
      </div>
    </div>
    <a class="wave-text flex flex-1 items-center justify-center body text-subtle text-center bg-mint border-t border-dashed px-2 py-2" 
    href="{% link no-context-kyle.html %}">
      <span style="--i:0">N</span><span style="--i:1">&nbsp;</span><span style="--i:2">🚫</span><span style="--i:3">&nbsp;</span><span style="--i:4">-</span><span style="--i:5">&nbsp;</span><span style="--i:6">C</span><span style="--i:7">&nbsp;</span><span style="--i:8">🅾</span><span style="--i:9">&nbsp;</span><span style="--i:10">N</span><span style="--i:11">&nbsp;</span><span style="--i:12">T</span><span style="--i:13">&nbsp;</span><span style="--i:14">E</span><span style="--i:15">&nbsp;</span><span style="--i:16">X</span><span style="--i:17">&nbsp;</span><span style="--i:18">T</span><span style="--i:19">&nbsp;</span><span style="--i:20">-</span><span style="--i:21">&nbsp;</span><span style="--i:22">Z</span><span style="--i:23">&nbsp;</span><span style="--i:24">O</span><span style="--i:25">&nbsp;</span><span style="--i:26">N</span><span style="--i:27">&nbsp;</span><span style="--i:28">E</span><span style="--i:29">❗</span>
    </a>
  </div>    
</nav>
