@font-face {
  font-family: 'VC Talmage ExtraCondensed';
  font-weight: 400;
  src: url('../../fonts/TalmageExtraCondensed-Regular.woff2') format('woff2'),
    url('../../fonts/TalmageExtraCondensed-Regular.woff') format('woff');
}
@font-face {
  font-family: 'VC Talmage ExtraCondensed';
  font-weight: 600;
  src: url('../../fonts/TalmageExtraCondensed-Semibold.woff2') format('woff2'),
    url('../../fonts/TalmageExtraCondensed-Semibold.woff') format('woff');
}
@font-face {
  font-family: 'VC Talmage ExtraCondensed';
  font-weight: 700;
  src: url('../../fonts/TalmageExtraCondensed-Bold.woff2') format('woff2'),
    url('../../fonts/TalmageExtraCondensed-Bold.woff') format('woff');
}
@font-face {
  font-family: 'VC Geordi';
  font-weight: 700;
  src: url('../../fonts/VCGeordi-Bold.woff2') format('woff2'),
    url('../../fonts/VCGeordi-Bold.woff') format('woff');
}
@font-face {
  font-family: 'VC Geordi';
  font-weight: 600;
  src: url('../../fonts/VCGeordi-Semibold.woff2') format('woff2'),
    url('../../fonts/VCGeordi-Semibold.woff') format('woff');
}
@font-face {
  font-family: 'VC Geordi';
  font-weight: 400;
  src: url('../../fonts/VCGeordi-Medium.woff2') format('woff2'),
    url('../../fonts/VCGeordi-Medium.woff') format('woff');
}
@tailwind base;

@tailwind components;

@tailwind utilities;

@media (max-width: 640px) {
  .container {
    width: 96%;
    min-width: 220px;
  }
  .sm-container {
    @apply mx-auto;
    width: 96%;
    min-width: 220px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 97%;
  }
  .md-container {
    width: 96%;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 98%;
  }
}
.container {
  @apply mx-auto;
  width: 96%;
  max-width: 1500px;
}
@keyframes wiggle {
    0%, 50%, 100% { transform: rotate(0deg);}
    25% { transform: rotate(10deg);}
    75% { transform: rotate(-10deg);}
}
.wiggle {
    animation: wiggle 2s infinite steps(4);
}
@keyframes zoom {
    0%, 50%, 100% { transform: scale(1);}
    25% { transform: scale(1.05);}
    75% { transform: scale(.9);}
}
.zoom-0 {
    animation: zoom 4s infinite steps(8);
}
.zoom-1 {
    animation: zoom 8s infinite steps(16);
}
.zoom-2 {
    animation: zoom 8s infinite steps(16);
    animation: wiggle 4s infinite steps(8);
}
.aqua {
  border: 2px solid #ccc;
  color: #fff;
  border-radius: 50vh;
  text-shadow: rgba(10, 10, 10, 0.5) 1px 2px 2px;
  background: linear-gradient(90deg, rgba(28, 91, 155, 0.8) 0%, rgba(108, 191, 255, .9) 90%);
  position: relative;
}
.aqua:after {
  content: "";
  position: absolute;
  top: 0;
  left: 5px;
  border-radius: 8px;
  height: 1px;
  width: 142px;
  padding: 8px 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 95%);
}
.flex-column-wrap {
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.max-w-800 {
  max-width: 800px;
}
.max-w-1000 {
  max-width: 1000px;
}
.text-md {
  font-size: 1rem;
}
.text-7xl {
    font-size: 5rem;
}
.text-8xl {
    font-size: 6rem;
}
.leading-tighter {
  line-height: 1.1;
}
.bg-check {
  background: url(../../images/backgrounds/check.png) repeat;
}
.body {
  @apply font-geordi text-md font-medium tracking-wide;
}
.body p {
  @apply mb-5;
}
.caption {
  @apply font-geordi text-xs font-bold tracking-wider;
}
.subhead {
  @apply font-geordi text-2xl font-medium tracking-wide;
}
.pullquote {
  @apply font-talmage text-5xl font-medium;
  line-height: 1.1;
}
.mega {
  @apply font-talmage font-bold text-8xl leading-none;
}
.horizontal-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.hanging-quote {
  hanging-punctuation: first;
}
.image {
  @apply border-2 border-black rounded-tl-lg rounded-tr-lg;
  box-shadow: 5px 5px 0px theme('colors.black');
}
.stroke-black {
  stroke:#0E0A0C;
  stroke-width:3;
}
.clouds {
  height: 500px;
  width: 100%;
  background: url(../../images/squiggles/clouds.png) bottom no-repeat;
  background-size: cover;
  border: none;
}
.bg-stars {
  background: theme('colors.periwinkle') url(../../images/backgrounds/stars.png);
  background-size: 700px;
}
.bg-terrazzo {
  background: theme('colors.white') url(../../images/backgrounds/terrazzo.png);
  background-size: 189px 260px;
}
.eyes {
  position: relative;
}
.eyes:before {
  position: absolute;
  content: ''; /* this is important */
  height: 54px;
  width: 80px;
  left: 110%;
  top: 50%;
  margin-top: -27px;
  z-index: 2;
  background: url(../../images/squiggles/eyes.gif) bottom no-repeat;
  background-size: 100% auto;
  opacity: 0;
  transition: opacity 600ms ease-in-out;
}
.eyes:hover:before {
    opacity: 1;
}
.tiny-cloud {
  position: relative;
}
.tiny-cloud:before {
  position: absolute;
  content: ''; /* this is important */
  height: 220px;
  width: 220px;
  left: 50%;
  top: 50%;
  transform:translateX(-50%) translateY(-50%);
  z-index: 2;
  background: url(../../images/squiggles/tiny-cloud.gif) bottom no-repeat;
  background-size: 100% auto;
  opacity: 1;
  transition: opacity 600ms ease-in-out;
}
.tiny-cloud:hover:before {
    opacity: 0;
}
.glow-small {
  position: relative;
}
.glow-small:before {
  position: absolute;
  content: ''; /* this is important */
  height: 170px;
  width: 190px;
  left: 50%;
  top: 50%;
  transform:translateX(-50%) translateY(-50%);
  z-index: 2;
  background: url(../../images/squiggles/glow-2.gif) bottom no-repeat;
  background-size: 100% auto;
  opacity: 0;
  transition: opacity 600ms ease-in-out;
}
.glow-small:hover:before {
    opacity: 1;
}
.glow {
  position: relative;
}
.glow:after, .glow:before {
  position: absolute;
  content: ''; /* this is important */
  height: 190px;
  width: 70px;
  top: 50%;
  margin-top: -95px;
  z-index: 2;
  background: url(../../images/squiggles/glow-1.gif) bottom no-repeat;
  background-size: 100% auto;
}
.glow:after {
  left: -90px;
}
.glow:before {
 transform:scaleX(-1);
 right: -90px;
}
.squiggle {
  position: relative;
}
.squiggle:after {
  position: absolute;
  content: ''; /* this is important */
  height: 20px;
  width: 150px;
  left: 50%;
  margin-left: -75px;
  bottom: -16px;
  z-index: 2;
  background: url(../../images/squiggles/line-1.gif) bottom no-repeat;
  background-size: 100% auto;
  opacity: 0;
  transition: opacity 600ms ease-in-out;
}
.squiggle:hover:after {
    opacity: 1;
}

#sideNav {
  transition: width 500ms ease-in-out;
  width: 0px;
}
#main {
  width: 100%;
  transition: width 500ms ease-in-out, opacity 2s ease-in-out;
}
@media (min-width: 769px) {
  #sideNav.active {
        width: 300px;
  }
  #main.active {
        width: calc(100% - 300px);
  }
}
button:focus, button:active {
  @apply outline-none;
}
.marquee {
  overflow: hidden;
  text-overflow: ellipsis;
}
.marquee span {
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    transition: transform 2s ease-in-out;
    transform: translateX(0px);
}
.marquee:hover span {
  width: 100%;
  transform: translateX(-50%);
}
